<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Forget Password Page</title>
</head>
<body>
    <section>
        <div class="login-section-container">
            <div class="login-container">

                <div class="logo-container">
                    <img class="logo" th:src="@{/img/nest.png}" alt="Buyest">
                </div>

                <div class="login-card">

                    <div th:if="${session.successMsg}" class="alert alert-success">
                        <p th:text="${session.successMsg}"></p>
                        <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                    </div>

                    <div th:if="${session.errorMsg}" class="alert alert-error">
                        <p th:text="${session.errorMsg}"></p>
                        <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                    </div>

                    <h2 class="login-heading">
                        Forgot Password
                    </h2>

                    <p class="login-instructions">Enter your registered email to receive an OTP for password reset.</p>

                    <form class="login-form" th:action="@{/sendOtp}" method="post">

                        <label for="email">E-Mail Address</label>
                        <input type="email" id="email" name="email" placeholder="Enter your email" required>

                        <button type="submit" class="btn-login">Send OTP</button>
                    </form>

                    <p class="signup-text">
                        Remembered your password? <a th:href="@{/login}">Sign in</a>
                    </p>

                </div>

            </div>
        </div>
    </section>
</body>
</html>