/* Page container */
.admin-order-page {
    max-width: 80rem;
    margin: 5rem auto;
    background-color: #e8e8e8;
    border-radius: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0 2rem 3rem -1rem rgba(0,0,0,0.15);
    font-family: "Rubik", sans-serif;
    color: #333;
    overflow: hidden;
    align-items: center
}

/* Page heading */
.admin-order-page-header h2 {
    text-align: center;
    font-size: 3rem;
    color: #f0f0f0;
    margin-bottom: 3rem;
    width: 100%;
    background-color: #384047;
    padding: 2rem 0;
    font-weight: 500;
}

/* Order info section */
.admin-order-info {
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 1rem;
    margin: 0 auto 3rem auto;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    width: 95%;
}

.admin-order-info p {
    font-size: 1.6rem;
    margin: 0.5rem 0;
}

/* Products section */
.admin-order-products {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 95%;
    margin: 2rem auto;
}

/* Product card */
.admin-order-card {
    display: flex;
    gap: 2rem;
    background-color: #f0f0f0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    padding: 1.5rem;
}

.admin-order-card-img img {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 0.8rem;
}

.admin-order-card-details h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.admin-order-card-details p {
    margin: 0.2rem 0;
    font-size: 1.5rem;
}

/* Back Button */
.admin-order-back-btn {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    background-color: #384047;
    color: #f0f0f0;
    border-radius: 0.8rem;
    text-decoration: none;
    font-size: 1.6rem;
    transition: 0.2s ease;
    margin-left: 3rem
}

.admin-order-back-btn:hover {
    background-color: #222b32;
}

.order-name-heading-text:link, .order-name-heading-text:visited {
    text-decoration: none;
    color: #333333;
}

.order-name-heading-text:hover, .order-name-heading-text:active {
    color: #333333;
    text-decoration: none;
}